Karta/bin/*
Karta/bin/
Karta/gen/*
Karta/gen/
MenuNavigation/bin/*
MenuNavigation/bin/
MenuNavigation/gen/*
MenuNavigation/gen/
SwipeMenuList/bin/
SwipeMenuList/bin/*
SwipeMenuList/gen/
SwipeMenuList/gen/*
google-play-services_lib/bin/
google-play-services_lib/bin/*
google-play-services_lib/gen/
google-play-services_lib/gen/*
appcompat_v7/bin/
appcompat_v7/bin/*
appcompat_v7/gen/
appcompat_v7/gen/*
